:root {
  --primery-background-color: #e5e5e5;
  --contacts-text-color: #757575;
  --header-color-text: #212121;
  --focus-color-text: #2196f3;
  --logo-color: #000000;
  --white-color-text: #ffffff;
  --button-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --accent-hero-button: #188ce8;
  --section-our-team-bc: #f5f4fa;
  --border-header-color: #ececec;
  --focus-hover-color-btn: #2196f3;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

:root {
  --primery-background-color: #e5e5e5;
  --contacts-text-color: #757575;
  --header-color-text: #212121;
  --focus-color-text: #2196f3;
  --logo-color: #000000;
  --white-color-text: #ffffff;
  --button-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --accent-hero-button: #188ce8;
  --section-our-team-bc: #f5f4fa;
  --border-header-color: #ececec;
  --focus-hover-color-btn: #2196f3;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--header-color-text);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

@media screen and (max-width: 1169px) {
  .section,
  .our-team-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section,
  .our-team-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-header {
  position: relative;
  border-bottom: 1px solid var(--border-header-color);
}

.site-nav .current {
  color: var(--focus-color-text);
}

.list .current {
  background-color: var(--focus-color-text);
  color: var(--white-color-text);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  margin-right: 95px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.logo-color {
  color: var(--focus-color-text);
}

.footer-logo {
  display: inline-block;
  padding-bottom: 20px;
  padding-top: 0;
}

.footer-logo-color {
  color: var(--white-color-text);
}

@media screen and (max-width: 767px) {
  .footer-logo {
    display: block;
    text-align: center;
    margin-right: 0;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-nav {
  text-decoration: none;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .site-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.site-nav__item {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .site-nav__item {
    display: none;
  }
}

.site-nav__studio-btn,
.site-nav__portfolio-btn {
  position: relative;
}

.site-nav__studio-btn,
.site-nav__portfolio-btn,
.site-nav__contacts-btn,
.contacts-nav-header__mail-btn,
.contacts-nav-header__tel-btn {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

@media screen and (min-width: 768px) {
  .contacts-nav-header__mail-btn,
  .contacts-nav-header__tel-btn {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav-header__mail-btn,
  .contacts-nav-header__tel-btn {
    padding-top: 32px;
    padding-bottom: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .contacts-nav-header__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contacts-nav-header__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav-header__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts-nav-header__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.contacts-nav-header {
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contacts-nav-header {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contacts-nav-header {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.site-nav__item:last-child,
.contacts-nav-header .item:last-child {
  margin-right: 0;
}

.site-nav__studio-btn.current::after,
.site-nav__portfolio-btn.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background: var(--focus-hover-color-btn);
  border-radius: 2px;
}

.site-nav__studio-btn:hover,
.site-nav__portfolio-btn:hover,
.site-nav__contacts-btn:hover,
.contacts-nav-header__mail-btn:hover,
.contacts-nav-header__tel-btn:hover,
.mail-btn-footer:hover,
.tel-btn-footer:hover {
  color: var(--focus-color-text);
}

.site-nav__studio-btn:focus,
.site-nav__portfolio-btn:focus,
.site-nav__contacts-btn:focus,
.contacts-nav-header__mail-btn:focus,
.contacts-nav-header__tel-btn:focus,
.mail-btn-footer:focus,
.tel-btn-footer:focus {
  color: var(--focus-color-text);
}

.site-nav__link {
  font-weight: 500;
  color: var(--header-color-text);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contacts-nav-header__icon-contacts-phone {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-nav-header__icon-contacts-phone:hover {
  color: var(--focus-color-text);
}

.contacts-nav-header__icon-contacts-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-nav-header__icon-contacts-mail:hover {
  color: var(--focus-color-text);
}

.contacts-nav-header__mail-btn,
.contacts-nav-header__tel-btn {
  font-weight: 500;
  color: var(--contacts-text-color);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  padding-right: 15px;
  padding-left: 15px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal {
  position: absolute;
  width: 528px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .modal {
    width: 90%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

.modal__close-modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-top: 8px;
  margin-right: 8px;
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
}

.modal__close-modal-btn:hover,
.modal__close-modal-btn:focus {
  fill: #2196F3;
}

.modal__application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: auto;
  right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
}

.modal__application-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 30px;
}

.modal__form-field {
  display: inline-block;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 38px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
  outline: transparent;
}

.modal__form-name,
.modal__form-tel,
.modal__form-mail,
.modal__form-comment {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.66;
  color: #757575;
  margin-bottom: 0;
}

.modal__form-comment {
  margin-bottom: 20px;
}

.modal__comment-form {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
  outline: transparent;
}

.modal__icon-form {
  position: absolute;
  top: 30px;
  left: 12px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform, 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform;
}

.modal__form-field:focus + .modal__icon-form,
.modal__form-field:hover + .modal__icon-form {
  fill: #2196F3;
  outline: transparent;
}

.modal__form-field:focus,
.modal__form-field:hover,
.modal__comment-form:focus,
.modal__comment-form:hover {
  border-color: #2196F3;
}

.modal__form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.modal__custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  outline: 2px solid #212121;
  outline-offset: -2px;
  border-radius: 4px;
}

.modal__custom-checkbox-icon {
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.checkbox-btn:checked + .modal__custom-checkbox .modal__custom-checkbox-icon {
  opacity: 1;
}

.checkbox-btn:checked + .modal__custom-checkbox {
  outline-color: #2196F3;
}

.modal__conditions {
  margin-left: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.modal__conditions-link {
  color: #2196F3;
}

.modal__btn-submit {
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: #2196f3;
  color: #ffffff;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__btn-submit:hover,
.modal__btn-submit:focus {
  background-color: #188ce8;
}

.subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  background: var(--focus-color-text);
  border-radius: 4px;
  border-color: transparent;
  color: #ffffff;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.subscribe-btn:hover {
  background-color: #188ce8;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-btn {
    margin-top: 20px;
  }
}

.subscribe-btn-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-btn__icon {
  margin-left: 10px;
}

.categories {
  display: inline-block;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .categories {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.categories__item:not(:last-child) {
  margin-right: 8px;
}

.categories__item {
  margin-bottom: 15px;
}

.categories__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--button-color);
  color: var(--header-color-text);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.categories__button:hover, .categories__button:focus {
  color: var(--white-color-text);
  background-color: var(--focus-color-text);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.active {
  background-color: #2196f3;
  color: #ffffff;
}

.menu-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  padding-right: 10px;
}

.menu-btn .icon-close {
  display: none;
}

.menu-btn.is-open .icon-close {
  display: block;
}

.menu-btn.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.hero {
  background-color: var(--footer-bg-color);
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-desktop.jpeg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-desktop.jpeg);
}

@media screen and (max-width: 767px) {
  .overlay {
    height: 400px;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-mobile.jpeg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-mobile.jpeg);
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    height: 400px;
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero/hero-tablet.jpeg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero-tablet.jpeg);
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    height: 600px;
  }
}

.hero__title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color-text);
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    width: auto;
    background-size: cover;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    padding-top: 200px;
    max-width: 696px;
  }
}

.hero-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--focus-color-text);
  color: var(--white-color-text);
  cursor: pointer;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus {
  background-color: var(--accent-hero-button);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.advantages {
  margin-top: 95px;
  margin-bottom: 95px;
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media screen and (min-width: 480px) {
  .advantages {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    width: 738px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    width: 1200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.advantages__info {
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .advantages__info {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 2);
        flex-basis: calc((100% - 3 * 30px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__info {
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 4);
        flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages__info:nth-child(2n + 2) {
    margin: 0;
  }
}

.advantages__info:last-child {
  margin: 0px;
}

.advantages__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  background-color: #f5f4fa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.advantages__icon-file {
  width: 70px;
  height: 70px;
}

.advantages__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .advantages__title {
    text-align: left;
    text-shadow: none;
  }
}

.advantages__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 10px;
  margin: 0;
}

.our-work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--header-color-text);
  margin: 0px;
  text-align: center;
  margin-bottom: 50px;
}

.our-work {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}

.our-work__title {
  padding-top: 0;
  padding-bottom: 50px;
}

.our-work__list {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.our-work__image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.our-work__image:not(:last-child) {
  margin-right: 30px;
}

.our-work__developments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
}

.our-team-section {
  background-color: var(--section-our-team-bc);
}

.our-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--header-color-text);
  margin: 0px;
  text-align: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .our-team__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.our-team__list {
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
}

@media screen and (min-width: 480px) {
  .our-team__list {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .our-team__list {
    width: 738px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__list {
    width: 1200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.our-team-card {
  border: 1px solid #ffffff;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .our-team-card {
    width: auto;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-team-card {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 2);
        flex-basis: calc((100% - 3 * 30px) / 2);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-card:not(:last-child) {
    margin-right: 16px;
  }
}

.our-team-card__name {
  display: block;
  text-align: center;
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team-card__workers {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.our-team-card__position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.our-team-card__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.our-team-card__network-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-card__network-link:hover, .our-team-card__network-link:focus {
  background-color: #2196f3;
}

.our-team-card__network-link:hover .our-team-card__icon-network,
.our-team-card__network-link:focus .our-team-card__icon-network {
  fill: #ffffff;
}

.our-team-card__icon-network {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.our-team-card__photo {
  width: 450px;
}

.regular-clients__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: #212121;
}

@media screen and (max-width: 1199px) {
  .regular-clients__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.regular-clients__list {
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  cursor: pointer;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.regular-clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-clients__item:hover, .regular-clients__item:focus {
  border-color: #2196f3;
}

@media screen and (max-width: 767px) {
  .regular-clients__item {
    width: 210px;
    height: 92px;
  }
}

@media screen and (min-width: 768px) {
  .regular-clients__item {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-clients__item {
    -ms-flex-preferred-size: calc((100% - 5 * 30px) / 6);
        flex-basis: calc((100% - 5 * 30px) / 6);
  }
}

.regular-clients__item:hover .regular-clients__logo,
.regular-clients__item:focus .regular-clients__logo {
  fill: #2196f3;
}

.regular-clients__logo {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media screen and (max-width: 767px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
  }
}

.contacts-nav-footer {
  margin: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media screen and (max-width: 767px) {
  .contacts-nav-footer {
    display: block;
    text-align: center;
  }
}

.contacts-nav-footer__navigation {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color-text);
}

.contacts-nav-footer__mail-btn,
.contacts-nav-footer__tel-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.social-footer {
  width: 206px;
  height: 80px;
}

@media screen and (max-width: 767px) {
  .social-footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

.social-footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .social-footer__title {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.social-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  gap: 10px;
}

.social-footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer__link:hover, .social-footer__link:focus {
  background-color: #2196f3;
}

.social-footer__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.form-footer {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .form-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.form-footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .form-footer__text {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer__subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.form-footer__email {
  width: 360px;
  height: 50px;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .form-footer__email {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .form-footer__email {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .form-footer__email {
    margin-right: 12px;
  }
}

.form-footer__email-input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-left: 16px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: transparent;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-tablet-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.cards-list {
  margin: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  margin-right: -30px;
  margin-bottom: -30px;
}

.cards-list__item {
  text-decoration: none;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.cards-list__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .cards-list__item {
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .cards-list__item {
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
}

.card {
  text-decoration: none;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--transition-timing-function);
          transition-timing-function: var(--transition-timing-function);
}

.card:hover .card__text,
.card:focus .card__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__item {
  position: relative;
  overflow: hidden;
}

.card__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

.card__inform {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--header-color-text);
}

.card__website {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--contacts-text-color);
  margin-bottom: 16px;
}

ul {
  padding: 0;
}

.menu-container {
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  padding: 15px;
  display: none;
  padding: 48px 40px;
  z-index: 900;
}

.menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container .mob-menu-icon {
  position: absolute;
  right: 25px;
  top: 21px;
}

.mobile-menu {
  margin: 0;
}

.mobile-menu__item:hover,
.mobile-menu__item:focus {
  color: #2196f3;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;
}

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: #2196f3;
}

.menu-contacts {
  margin: 0 0 60px 0;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: auto;
  padding-right: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-socials__item {
  padding-top: 10px;
}

.menu-socials__item:not(:first-child) {
  padding-left: 10px;
}

.menu-socials__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-socials__name {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.menu-contacts__link:hover,
.menu-contacts__link:focus {
  color: #2196f3;
}

.icon-close:hover,
.icon-close:focus,
.icon-menu:hover,
.icon-menu:focus {
  fill: #2196f3;
}
/*# sourceMappingURL=main.css.map */