:root {
  --primery-background-color: #e5e5e5;
  --contacts-text-color: #757575;
  --header-color-text: #212121;
  --focus-color-text: #2196f3;
  --logo-color: #000000;
  --white-color-text: #ffffff;
  --button-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --accent-hero-button: #188ce8;
  --section-our-team-bc: #f5f4fa;
  --border-header-color: #ececec;
  --focus-hover-color-btn: #2196f3;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}