.contacts-nav-header__icon-contacts-phone {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  align-items: center;

  &:hover {
      color: var(--focus-color-text);
  }
}

.contacts-nav-header__icon-contacts-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  align-items: center;

  &:hover {
      color: var(--focus-color-text);
  }
}

.contacts-nav-header__mail-btn,
.contacts-nav-header__tel-btn {
  font-weight: 500;
  color: var(--contacts-text-color);
  text-decoration: none;
  display: flex;
  margin-right: 30px;
  justify-content: center;
  align-items: center;
}