.our-work__title {
 font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--header-color-text);
  margin: 0px;
  text-align: center;
  margin-bottom: 50px;
}

.our-work {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.our-work__title {
  padding-top: 0;
  padding-bottom: 50px;
}

.our-work__list {
  display: inline-block;
  display: flex;
  margin: 0;
  justify-content: center;
  padding-inline-start: 0;
}

.our-work__image {
  position: relative;
  display: flex;
  margin: 0;
}

.our-work__image:not(:last-child) {
  margin-right: 30px;
}

.our-work__developments {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  text-transform: uppercase;
}